/* Footer.css */

.footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative; /* Change position to fixed */
  margin: 0px;
  left: -140px;
  width:117%;
  bottom: -550px;
}

.footer .container {
  margin-top: 5px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}
