/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to cover the entire viewport height */
    background-image: url('../assets//picture/signup.jpg'); /* Add your background image path */
    background-size: cover;
    background-position: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Set a fixed width to the form container */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: calc(100% - 30px); /* Adjust input width to accommodate padding and border */
    padding: 10px; /* Reduce padding to make inputs less bulky */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}